<div class="menu">
    <div class="menu-title">
        <%= menu.name %>
    </div>
    <div class="menu-content">
        <% menu.children.forEach(menu => { %>
        <%- include('index', { menu: menu }) %>
        <% }) %>
    </div>
</div>